.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Tugas 11 - Tabel Harga Buah */
div#form-harga-buah h1 {
  text-align: center;
}

table#tabel-harga {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid gray;
}
table#tabel-harga thead th {
  background-color: #aaa;
}
table#tabel-harga tbody tr td {
  background-color: #ff7f50;
  padding: 10px;
}
table#tabel-harga tbody tr td:nth-child(1) {
  width: 300px;
}
table#tabel-harga tbody tr td:nth-child(2) {
  width: 100px;
  text-align: right;
}

table#tabel-harga tbody tr td:nth-child(3) {
  width: 100px;
  text-align: right;
}

table#table-form {
  margin-left: auto;
  margin-right: auto;
}
nav {
  background-color: #333;
  overflow: hidden;
}

nav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
nav a:hover {
  background-color: #ddd;
  color: black;
}
